* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

p,
ul {
	margin-bottom: 1em;
}

/* =02 Typography */

h1,
h2 {
	color: #4aaaa5;
	font-family: serif;
	font-weight: bold;
	margin: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}


main {
	font-family: sans-serif;
	line-height: 1.6;
}

.tia-landing main h1,
.tia-landing aside h2 {
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	padding-left: 1em;
	border-bottom: 1px solid #efefef;
}

/* =03 Navigation */

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*  =04 Layout */
body {
	height: 100vw;
	background-color: #efefef;
}

.content-frame {
	height: 100%;
}

.page-header {
	color: #fff;
	background-color: #4aaaa5;
}

main,
aside {
	padding: 0 1em;
	padding-top: 2em;
	background-color: #fff;
}

main {
	padding-bottom: 1em;
}

.tia-landing main img {
	float: left;
	width: 28%
}

.tia-landing aside {
	clear: left;
}

.tia-landing aside .nav-secondary ul {
	border: 1px solid green;
	display: flex;
	justify-content: space-around;
}

@media screen and (min-width: 1000px) {
	.page-header {
		margin-bottom: 2em !important;
	}

	.tia-landing .content-frame {
		display: flex;
		width: 70vw;
		margin: 0 auto;
	}

	.tia-landing main {
		width: 64%;
		margin-right: 2%;
	}

	.tia-landing aside {
		width: 34%;
	}

	.tia-landing aside .nav-secondary ul {
		flex-wrap: wrap;
	}

	.tia-landing aside .nav-secondary li {
		width: 50%
	}
}

.nav-logo{
	font-size: 30px;
	background-color: #4aaaa5;
	width: 200px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.landing-block{
	margin: 10px;
	background-color: white;
	over

}

.block-content{
	color: hsl(210, 12%, 62%);
	font-size: 20px;
}

.block-content img{

	float:left
}

h3 {
	color: black;	
	margin: 10px;
	font-size: small;
}	

.tia-comparison {
	background-color: white;

}

@media screen and (max-width:765px){
	.bg-light{
		background-color:#4aaaa5!important ;
	
	}
}